# Data Scince Tools and Exosystem

## Author
Kava S.

In this notebook, Data Science Tools and Exosystem are summarized.

**Objectives:**

- List popular languages for Data Science+
- List commonly used libraries by Data Scientists
- List Data Science Open-Source Tools

Some of the popular languages that Data Scientists use are 

1. Python
2. R
3. Java
4. C++

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. Matplotib
4. Seaborn
5. TensorFlow

| Data Science Tools |
| --- |
| Jupyter |
| RStudio |
| Apache Zeppelin |

### Below are a few examples of evaluating arithmetuc expressions in Python.

In [4]:
# This is a simple arithmetic expression to multiply then add integers.
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by dividing by 60.
200/60

3.3333333333333335